// Body
$body-bg: #4e3759;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$main-color: #00d2b2;
$main-color-hover: #00e2c2;
$main-color-active: #00c09c;

// Borders

$border: 1px solid #ced4da;